<h1>Editing bullet post</h1>

<%= render "form", bullet_post: @bullet_post %>

<br>

<div>
  <%= link_to "Show this bullet post", @bullet_post %> |
  <%= link_to "Back to bullet posts", bullet_posts_path %>
</div>
