<center>
    <%= button_to "Logout", logout_path, method: :delete %>
    <%if flash[:notice] %>
        <p style = "color:green"><%= notice %></p>
    <% end %>
    <h1>Welcome <%= @current_user.name %></h1><br>
    <b><%= button_to "Profile", profile_user_path(@current_user), method: :get %></b>
</center>
